* {
  font-family: "Cormorant Garamond", serif;

  text-decoration: none !important;
}

#btn {
  padding: 20px;
}

.navbar-collapse {
  border-bottom: 1px solid #000;
}

.navbar-toggler {
  border-color: transparent !important;
  position: absolute;
  top: -95px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.border-top {
  border-top: 1px solid #000 !important;
}

.icon-container {
  margin: 10px;
}

* {
  color: #000 !important;
}
.dropdown-toogle {
  color: #000 !important;
}

@media (min-width: 992px) {
  .button-back {
    display: none;
  }
}

.hover-purple:hover {
  background: #a18feb !important;
}
.hover-purple {
  border: none !important;
}

li {
  list-style-type: none !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    width: 100%;
    background: #fff;
    font-size: 30px;
    border-bottom: none;
    height: 100%;
    top: 141px;
    padding-top: 20px;
    right: 5px;
  }

  .navbar-collapse li {
    margin-bottom: 35px;
  }

  .header {
    padding-top: 10px;
    border-bottom: 1px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
  }

  .header-fixed {
    position: fixed;
    width: 100%;
    right: 0px;
  }

  .btn-fixed {
    position: fixed;
    top: 50px;
  }

  .img {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .navbar-toggler {
    top: -80px;
  }

  .btn-fixed {
    top: 37px;
  }

  .navbar-collapse {
    top: 113px;
  }

  .img {
    width: 500px;
  }

  .navbar-collapse li {
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .navbar-toggler {
    top: -82px;
  }

  .btn-fixed {
    top: 35px;
  }

  .img {
    width: 470px;
  }
  .navbar-collapse {
    top: 108px;
  }
}

@media (max-width: 470px) {
  .navbar-toggler {
    top: -70px;
    left: -10px;
  }

  .btn-fixed {
    top: 25px;
    left: 2px;
  }

  .img {
    width: 380px;
  }

  .navbar-collapse {
    top: 91px;
  }
}

@media (max-width: 380px) {
  .navbar-toggler {
    left: -24px;
    top: -63px;
  }

  .btn-fixed {
    top: 14px;
    left: -12px;
  }

  .img {
    width: 285px;
  }

  .navbar-collapse {
    top: 73px;
  }
}

@media (max-width: 280px) {
  .navbar-toggler {
    left: -25px;
    top: -60px;
  }

  .btn-fixed {
    top: 11px;
    left: -13px;
  }

  .img {
    width: 250px;
  }

  .navbar-collapse {
    top: 67px;
  }
}

#photo img {
  width: 100%;
  margin-bottom: 20px;
}

#gallery img {
  width: 100%;
  margin-bottom: 20px;
}

#gallery h2 {
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}
